.v-container .image-container {
  border: 8px solid rgb(232 232 232 / 93%);
}

.v-container > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.v-right {
  gap: 0.5rem;
  margin: 3%;
  margin-top: 2.8%;
}

.v-left {
  margin-right: 50px;
}

.v-wrapper {
  display: flex;
  align-items: center;
}

.accordion {
  margin-top: 2rem;
  border: none;
}

.accordionItem {
  background: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}

.icon svg {
  fill: var(--blue);
}

.accordionButton .primaryText {
  font-size: 1.1rem;
}

.image-container {
  display: block;
  width: 55rem;
  height: 35rem;
  margin-left: -1%;
  overflow: hidden;
  border-radius: 100px 2px 100px 2px;
  box-shadow: var(--shadow2);
  transition: all 300ms ease-in;
  text-align: center;
}

.image-container img {
  display: block;
  border-radius: 100px 2px 100px 2px;
  border: 4px solid rgb(4, 36, 93);
  margin: 0 auto;
}

div .image-container {
  border: none;
}

.redText {
  color: #d2153d;
  font-size: 2.2rem;
  font-weight: 600;
}

.stats {
  width: 100%;
  justify-content: space-between;
}

.stat > :nth-child(1) {
  font-size: 2rem;
}

stat > :nth-child(1) > :last-child {
  color: #d2153d;
}

@media (max-width: 1024px) {
  .v-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .v-wrapper {
    flex-direction: column;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  .accordionButton .primaryText {
    font-size: 0.8rem;
  }
  .v-left{
    margin-right: -8%;
    
  }
  .v-right {
    justify-content: center;
    align-items: center;
  }
  .image-container img {
    width: 100%;
    max-width: 500px;
  }
}
